.main-heading,
h2,
h3,
h4,
h5,
h6 {
    /* color:#003366; */
    color: #c9c91c;
}

/* .calculator-component {
    background: rgb(81, 132, 40);
    background: linear-gradient(90deg, rgba(81, 132, 40, 1) 0%, rgba(201, 201, 28, 1) 50%, rgba(81, 132, 40, 1) 100%);
} */

.result {
    color: #518428;
    font-weight: 900;
    /* text-align: center; */
    font-size: 45px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.table-head {
    /* border-top: 1px solid #114477;
    border-left: 1px solid #114477;
    border-right: 1px solid #114477;
    border-bottom: 1px solid #336699; */
    /* background-color: #336699; */
    background-color: #c3b42b;
    border: 1px solid #9a9d2b;
    font-weight: bold;
    color: #fff;
    padding: 5px 3px;
}

.table {
    border-collapse: collapse;
    text-align: center;
    width: 500px;
    margin: 20px auto;
}

.table-data {
    border: 1px solid #ccc;
    color: #000;
    padding: 3px;
}

.odd-table-row {
    background-color: #fff;
}

.even-table-row {
    background-color: #eee;
}

.chart-image {
    display: block;
    margin: 10px auto;
}

p {
    color: #000;
}

.go-back {
    margin-top: 0px !important;
    background-color: #000 !important;
}